.container {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  padding-bottom: 1000px; /* Отступ внизу для фиксированной панели навигации */
}

.balance-card {
  position: relative;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.balance-card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.balance-card > * {
  position: relative;
  z-index: 2;
}

.balance-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.balance-amount {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

.balance-change {
  background-color: rgba(0, 0, 0, 0.3);
  color: #4CAF50;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}

.wallet-label {
  font-size: 14px;
  margin-top: 10px;
}

.wallet-address {
  font-size: 12px;
  word-break: break-all;
}

.withdraw-button {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 90%; /* Устанавливаем ширину кнопки в 90% от ширины родительского элемента */
  margin: 10px auto;
}

.card {
  background-color: #2A2A2A;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.12);
}

.referrals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.referrals-title {
  font-size: 18px;
  margin: 0;
}

.referrals-count {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.invite-button {
  background-color: #19191A;
  color: white;
  padding: 13px 24px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.copy-button {
  width: 50px;
  height: 50px;
  background-color: #19191A;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}

.table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.table-header {
  color: #888;
}

.table-cell {
  text-align: left;
  padding: 5px;
}

.table-row {
  border-bottom: 0px solid #444;
}

.list-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.ordered-list {
  padding-left: 20px;
  margin: 0;
}

.transaction {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

.transaction-type {
  font-weight: bold;
}

.transaction-receive {
  color: #4CAF50;
}

.transaction-withdraw {
  color: #F44336;
}

.transaction-amount {
  text-align: right;
}

.transaction-date {
  font-size: 12px;
  color: #888;
  text-align: right;
}

.transaction-description {
  grid-column: 1 / -1;
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
}

.connect-wallet-button {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 90%; /* Устанавливаем ширину кнопки в 90% от ширины родительского элемента */
  margin: 10px auto;
}

.connect-wallet-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.ton-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.connect-wallet-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(45deg);
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  font-size: 14px;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}



